@(noteForm: Form[Note])

@import helper._
@import bootstrap._

@main("Редактирование записи") {
    @form(routes.Application.saveNote(new Long(noteForm("id").value))) {
        @text(noteForm("name"), '_label ->"ФИО", 'placeholder -> "ФИО контакта")
        @text(noteForm("cellPhone"), '_label -> "Мобильный телефон", 'placeholder -> "Введите телефон, 10 цифр")
        @text(noteForm("homePhone"), '_label ->"Домашний телефон", 'placeholder ->"введите телефон")
        <button type="submit" value="submit" class = "btn btn-default">Добавить</button>
    }
}